
.todoWrapper {
  margin: 5px;
  padding: 5px;
  display: flex;
  height: auto;
  border: 2px solid deepskyblue;
  overflow: hidden;
  min-width: 50px;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.removeTodo {
  width: auto;
  order: 1;
}

.todoText {
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  justify-content: space-between;
  font-size: 1.3em;
  overflow: hidden;
}

.todoEditWrapper {
  padding-left: 10px;
  width: 100%;
  height: auto;
  justify-content: center;
  overflow: hidden;
}

.doneCheckbox {
  margin: auto;
  width: auto;
}
