.app {
  text-align: center;
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: auto;
  border: 5px solid rgba(73, 204, 249, 1.0);
  padding: 20px;
  min-height: 400px;
  max-height: 700px;
}

.todos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  max-height: 600px;
}
